@using BS.DemoShop.Web.ViewModels.Account
@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}
<h1>登入頁</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <form  method="post">
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password" class="form-control" type="password"/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.IsRemember"></label>
                <input asp-for="@Model.IsRemember" />
            </div>
            <div class="form-group d-none">
                <input asp-for="@Model.ReturnUrl" class="form-control" />
            </div>
            <p class="text-danger">@TempData["Error"]</p>
            <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="SignIn">登入</button>
            
        </form>
    </div>
    <div class="col-12 col-md-6">
        <a asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@Model.ReturnUrl">前往註冊</a>
    </div>
</div>